body {
    text-align: center;
    background-color: black;
    color: white;
}
.introduction{
    text-align: left;
}
img{
    text-align: center;
    border: 5px solid rgb(73, 100, 189);
    border-width: 3px;
    padding: 3px;
    margin: 3px;
}
#starters_image_div{
    text-align: center;
}
h1 {
    background-color: rgb(73, 100, 189);
    color: rgb(255, 208, 0);
    text-align: center;
}
h2 {
    font-family: monospace;
    font-size: medium;
    font-weight: bolder;
}

.all_pokemon_container{
    font-family:monospace;
    font-weight: 900;
    font-size:large;
}
#bulbasaur_container{
    border: 1px solid rgb(255, 252, 96);
    border-radius:15px;
    background-color: rgb(131, 184, 96);
    margin: 0px;
    padding: 15px;
    border: none
}
#charmander_container{
    border: 1px solid rgb(255, 252, 96);
    border-radius:15px;
    background-color: rgb(252, 160, 85);
    padding: 15px;
}
#squirtle_container{
    border: 1px solid rgb(255, 252, 96);
    border-radius:15px;
    background-color: rgb(134, 220, 247);
    padding: 15px;
}

.list {
    text-align: left;
    font-family: monospace;
    font-size: medium;
    font-weight: bolder;
}
.pokemon_names{
text-align: left;
}
.pokemon_description{
    text-align: left;
}
.each_pokemon_container{
    padding-top: 50px;
}
.pokemon_images{
    height: 200px;
    width: 200px;
    border: none
}
footer {
    text-align: left;
    padding-top: 100px;
}